{% extends "_includes/_skeleton.html" %}

{% block base_content %}
<div class="section paleblue tiny fit flex-grid large-marged" id="presentation">
    <div class="cell large-48 flex-vertical-center-stack h-space-around h-wide-space">
        <h2 class="text-center text-upper text-strong v-space-around">Une entreprise familiale et artisanale</h2>
        <p class="title-4 divider"><b>Spécialisée dans les travaux d'aménagement intérieur</b>, l'entreprise <b>SJC Menuiserie</b>, intervient aussi bien auprès des professionnels que des particuliers pour prendre en charge tous types de travaux de menuiserie, en neuf ou en rénovation.</p>
        <p><b>Sébastien CHAPRON</b>, gérant de l’entreprise, est un menuisier d'agencement disposant de 18 ans d'expérience dans le domaine de la menuiserie.</p>
        <p>Il a acquis au fil des années un grand savoir-faire, qu'il souhaite partager avec vous pour vous aider à concrétiser vos projets.</p>
        <p>Au travers de ses expériences professionnelles, il a été amené à travailler sur <b>tous types d'ouvrages</b> et sur l'<b>agencement de tout espace</b> (magasins, bureaux, stands d’exposition, dressings...).</p>
    </div>
    <div class="cell large-48 flex-vertical-center-stack">
        <p class="title-4 text-center v-space-around">Du classique au moderne, du panneau mélaminé au bois massif en passant par le stratifié, nous saurons donner vie à toutes vos envies.</p>
        <p class="title-3 text-center v-space-around">Votre projet est unique, il l'est aussi pour nous !</p>
        <p class="text-center v-space-around"><a href="#contact" class="button large strong radius">N'hésitez pas à nous contacter pour de plus amples renseignements</a></p>
    </div>
</div>

<div class="section paleblue-gradient fit" id="particuliers">
    <div class="row larger">
        <div class="small-12 large-8 large-centered columns">
            <h2 class="text-center text-upper text-strong v-space-around">Prestations aux particuliers</h2>
            <p class="title-4 divider"><b>SJC Menuiserie</b> intervient auprès des particuliers pour prendre en charge tous types d'aménagements intérieurs et de poses.</p>
            <p>Nous pouvons réaliser sur-mesure tous vos meubles et aménagements ou se charger de la pose&nbsp;:</p>
            <ul>
                <li>Salles de bains (meubles, bacs, vasques...);</li>
                <li>Cuisines complètes (électroménagers, meubles...);</li>
                <li>Meubles de rangement, placards, dressings;</li>
                <li>Fabrication de bureaux et meubles en tout genre;</li>
                <li>Pose de menuiseries (portes, fenêtres...);</li>
                <li>Pose de parquets (massif, stratifié flottant...).</li>
            </ul>
            <p class="title-3 text-center v-space-around">Nous mettrons toutes nos compétences à votre disposition pour vous satisfaire.​</p>
            <p class="text-center"><a href="#contact" class="button large strong radius">Contactez-nous</a></p>
        </div>
    </div>
</div>

<div class="section fit paleblue-gradient" id="professionnels">
    <div class="row larger">
        <div class="small-12 large-8 large-centered columns">
            <h2 class="text-center text-upper text-strong v-space-around">Prestations aux professionnels</h2>
            <p class="title-4 divider"><b>Spécialisés dans la fabrication et le montage de stands d’exposition dans toute l’Europe</b>, ainsi que de l'agencement de magasins, nous pouvons prendre en charge tous types d'aménagements d'espaces professionnels en neuf ou en rénovation.</p>
            <p>Soyez assuré d'un travail irréprochable, réalisé par un artisan menuisier compétent qui saura s'adapter à vos demandes&nbsp;:</p>
            <ul>
                <li>Banques d'accueil;</li>
                <li>Bureaux;</li>
                <li>Aménagement de commerces, de show-rooms;</li>
                <li>Stands d’exposition.</li>
            </ul>
            <p class="text-center v-space-around"><a href="#contact" class="button large strong radius">Contactez-nous</a></p>
        </div>
    </div>
</div>

<div class="section tiny" id="realisations">
    <div class="row larger">
        <div class="small-12 columns">
            <h2 class="text-center text-upper text-strong v-space-around">Réalisations</h2>
            <ul class="clearing-thumbs" data-clearing>
                {% for filename in get_gallery('images/realisations_set') %}
                <li>
                    <a href="{{ STATIC_URL }}images/realisations_set/large/{{ filename }}">
                        <img src="{{ STATIC_URL }}images/realisations_set/{{ filename }}" alt="">
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div class="section floralwhite-gradient" id="contact">
    <div class="row larger v-space-around">
        <div class="small-12 columns text-center">
            <h2 class="text-center text-upper text-strong divider">Contact</h2>
            <div class="flex-grid marged">
                <div class="cell small-98 h-space-around v-space-around">
                    <p class="title-2 text-steelblue1">{{ SITE.name }}</p>
                </div>
                <div class="cell small-98 large-31 h-space-around">
                    <img src="http://fpoimg.com/320x240" alt="">
                </div>
                <div class="cell small-98 large-31 h-space-around">
                    <p class="title-4">Agencement intérieur et Stands d'exposition</p>
                    <hr>
                    <p>SARL SJC Menuiserie</p>
                    <p>24600 Ribérac</p>
                    <p><strong>Téléphone&nbsp;:</strong> 07 83 34 76 56</p>
                    <p><strong>Email&nbsp;:</strong> <a href="mailto:contact@sjc-menuiserie.fr">contact@sjc-menuiserie.fr</a></p>
                </div>
                <div class="cell small-98 large-31 h-space-around">
                    <p class="title-4 text-center">Artisan enregistré</p>
                    <a href="http://www.artisanat.fr/"><img src="{{ STATIC_URL }}images/artisanatlogo.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
