{% extends "_includes/_skeleton.html" %}

{% block base_content %}
<div class="section tiny" id="head">
    <div class="row">
        <div class="small-12 columns">
            <h1 class="demo-title">{{ page_title|capitalize }}</h1>
        </div>
    </div>
</div>

<div class="section unpadded" id="component-menu">
    <div class="row">
        <div class="small-12 columns">
            <ul class="stack-for-small round button-group">
                <li><a href="#headings" class="button secondary tiny">Headings</a></li>
                <li><a href="#grid" class="button secondary tiny">Grid</a></li>
                <li><a href="#figures" class="button secondary tiny">Figures</a></li>
                <li><a href="#colors" class="button secondary tiny">Colors</a></li>
                <li><a href="#sections-start" class="button secondary tiny">Sections</a></li>
            </ul>
        </div>
    </div>
</div>


<div class="section divider" id="headings">
    <div class="row">
        <div class="small-12 columns">
            <h2 class="demo-title text-center">Headings</h2>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns divider">
            <p class="title-1">HEADING 1</p>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="small-12 columns divider">
            <h2>HEADING 2</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="small-12 columns divider">
            <h3>HEADING 3</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="small-12 columns divider">
            <h4>HEADING 4</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="small-12 columns divider">
            <h5>HEADING 5</h5>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="small-12 columns divider">
            <h6>HEADING 6</h6>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
</div>


<div class="section divider" id="grid">
    <div class="row">
        <div class="small-12 columns">
            <h2 class="demo-title text-center">Grid</h2>
        </div>
    </div>
    <div class="row divider">
        <div class="large-6 medium-6 small-12 columns">
            <h3 class="demo-title">1/2</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="large-6 medium-6 small-12 columns">
            <h3 class="demo-title">1/2</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
    <div class="row divider">
        <div class="large-9 medium-9 small-12 columns">
            <h3 class="demo-title">2/3</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="large-3 medium-3 small-12 columns">
            <h3 class="demo-title">1/3</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</p>
        </div>
    </div>
    <div class="row divider">
        <div class="large-4 medium-4 small-12 columns">
            <h3 class="demo-title">1/3</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="large-4 medium-4 small-12 columns">
            <h3 class="demo-title">1/3</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="large-4 medium-4 small-12 columns">
            <h3 class="demo-title">1/3</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
    <div class="row divider">
        <div class="large-3 medium-3 small-12 columns">
            <h3 class="demo-title">1/4</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="large-3 medium-3 small-12 columns">
            <h3 class="demo-title">1/4</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="large-3 medium-3 small-12 columns">
            <h3 class="demo-title">1/4</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="large-3 medium-3 small-12 columns">
            <h3 class="demo-title">1/4</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
    <div class="row divider">
        <div class="large-3 medium-3 small-12 columns">
            <h3 class="demo-title">1/3</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.</p>
        </div>
        <div class="large-9 medium-9 small-12 columns">
            <h3 class="demo-title">2/3</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
    <div class="row divider">
        <div class="small-12 columns">
            <h3 class="demo-title">Full width</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>

    <div class="row larger divider">
        <div class="small-12 columns">
            <h3 class="demo-title">Inside a '.row.large'</h3>
        </div>
        <div class="large-3 medium-3 small-12 columns">
            <h4 class="demo-title">1/4</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="large-3 medium-3 small-12 columns">
            <h4 class="demo-title">1/4</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="large-3 medium-3 small-12 columns">
            <h4 class="demo-title">1/4</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="large-3 medium-3 small-12 columns">
            <h4 class="demo-title">1/4</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>

    <div class="row fluid divider">
        <div class="small-12 columns">
            <h3 class="demo-title">Inside a '.row.fluid'</h3>
        </div>
        <div class="large-3 medium-3 small-12 columns">
            <h4 class="demo-title">1/4</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="large-3 medium-3 small-12 columns">
            <h4 class="demo-title">1/4</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="large-3 medium-3 small-12 columns">
            <h4 class="demo-title">1/4</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class="large-3 medium-3 small-12 columns">
            <h4 class="demo-title">1/4</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
</div>


<div class="section divider" id="figures">
    <div class="row">
        <div class="small-12 columns">
            <h2 class="demo-title text-center">Figures</h2>
        </div>
    </div>
    <div class="row divider">
        <div class="small-12 columns">
            <div class="large-3 medium-3 small-12 columns">
                <img src="http://fpoimg.com/300x250" alt="">
            </div>
            <div class="large-9 medium-9 small-12 columns">
                <h3 class="demo-title">Rubiko will take<br>you to the next level</h3>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed molestie neque, id venenatis nisl. Aliquam magna magna, interdum quis nisl quis,
                    eleifend sollicitudin nibh. Morbi nec felis ut nisl sagittis rhoncus. Vestibulum condimentum ligula ac mattis commodo. Etiam pharetra,
                    dolor tempor volutpat auctor, nisi urna lacinia diam, ac consectetur turpis velit non neque. Sed erat eros, porttitor ac pretium vel,
                    posuere a ante. Ut mattis interdum magna egestas accumsan. Vestibulum eget eros quam. Class aptent taciti sociosqu ad litora torquent
                    per conubia nostra, per </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <div class="large-6 medium-6 small-12 columns">
                <img src="http://fpoimg.com/455x250" alt="">
            </div>
            <div class="large-6 medium-6 small-12 columns">
                <h3 class="demo-title">Rubiko will take<br>you to the next level</h3>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed molestie neque, id venenatis nisl. Aliquam magna magna, interdum quis nisl quis,
                    eleifend sollicitudin nibh. Morbi nec felis ut nisl sagittis rhoncus. Vestibulum condimentum ligula ac mattis commodo. Etiam pharetra,
                    dolor tempor volutpat auctor, nisi urna lacinia diam, ac consectetur turpis velit non neque. Sed erat eros, porttitor ac pretium vel,
                    posuere a ante. Ut mattis interdum magna egestas accumsan. Vestibulum eget eros quam. Class aptent taciti sociosqu ad litora torquent
                    per conubia nostra, per </p>
            </div>
        </div>
    </div>
</div>

{% set colors = [('$FloralWhite', '#f9f6f0', 'text-floralwhite'),
                 ('$Gray10', '#181818', 'text-gray10'),
                 ('$Khaki1', '#f8ff8f', 'text-khaki1'),
                 ('$white', '#ffffff', 'text-white'),
                 ('$PaleBlue', '#b3eaff', 'text-paleblue'),
                 ('$Gray29', '#494949', 'text-gray29'),
                 ('$SteelBlue1', '#5fadf3', 'text-steelblue1')] %}
<div class="section divider" id="colors">
    <div class="row">
        <div class="small-12 large-7 large-centered columns">
            <h2 class="demo-title text-center">Colors</h2>

            <table class="expand">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Color</th>
                        <th>Hexa code</th>
                        <th>Text class</th>
                    </tr>
                </thead>
                <tbody>{% for name, hexa, css in colors %}
                    <tr>
                        <td>{{ name }}</td>
                        <td>
                            <p style="width: 100px; height: 40px; border:1px solid {{ hexa }}; background-color: {{ hexa }};"></p>
                        </td>
                        <td>{{ hexa }}</td>
                        <td class="{{ css }}">.{{ css }}</td>
                    </tr>
                {% endfor %}</tbody>
            </table>
        </div>
    </div>
</div>

{% set sections_themes = [('', 'default color'),
                 ('black', '.black'),
                 ('gray10', '.gray10'),
                 ('khaki1', '.khaki1'),
                 ('paleblue', '.paleblue'),
                 ('gray29', '.gray29'),
                 ('white', '.white'),
                 ('floralwhite', '.floralwhite')] %}
<div class="section divider" id="sections-start">
    <div class="row">
        <div class="small-12 columns">
            <h2 class="demo-title text-center">Sections</h2>
        </div>
    </div>
</div>

{% for css, name in sections_themes %}
<div class="section {{ css }}">
    <div class="row">
        <div class="small-12 columns">
            <h3>Section {{ name }}</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur <b>adipiscing elit</b>. Quisque <strong>purus urna</strong>, tincidunt a ornare eget, vehicula eget justo. Sed quis ante sed dui lobortis pellentesque. Vivamus vel gravida nisl, et <a href="">pretium dolor</a>. Praesent vitae enim id nulla posuere euismod lobortis nec elit. Integer ultricies ac.
            </p>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}