<script type="text/javascript">
    /* <![CDATA[ */
    // Disable anchor jump only for medium screen and more
    if( Math.max(document.documentElement.clientWidth, window.innerWidth || 0) > 640 && location.hash) {
        //console.log("From document: Location hash detected:"+ location.hash);

        if(history.pushState) {
            history.pushState(null, null, null);
        /*}
        else {
            location.hash = '';*/
        }

        //console.log("Updated to:"+ location.hash);
        setTimeout(function() {
            window.scrollTo(0, 0);
        }, 1);
    }
    /* ]]> */
</script>
