/*
 * Various content styles
 */
.clearing-thumbs li{
    margin-right: rem-calc(8px);
    margin-bottom: rem-calc(8px);
}

#location-map{
    #gmap-container{
        width: 100%;
        height: 300px;
        border: 1px solid $IronGrey1;
        @media #{$medium-up} {
            height: 40vh;
        }
    }
}