/*
 *
 * All stuff for page header
 *
 */
#header-container{
    // Base for all
    .top-bar{
        .title-area{
            .name{
                color: $SteelBlue1;

                .brand-name{
                    font-family: $RalewayFont;
                    a{
                        font-weight: 400;
                        color: inherit;
                        font-family: inherit;
                    }
                }
                .brand-subline{
                    color: $white;
                    font-family: $RalewayFont;
                    a{
                        color: inherit;
                        font-family: inherit;
                    }
                }
            }
        }

        .top-bar-section{}
    }

    // Only for small media query
    @media #{$small-only} {
        $topbar-small-height: 5.5rem;

        // Adjusting title and sandwich icon for very small screens
        .top-bar{
            .name {
                p {
                    font-size: 1.8rem;
                    a {
                        padding: 0 0 0 1.5rem;
                        width: calc(100% - 64px);
                    }
                }
                .toggle-topbar.menu-icon a {
                    padding: 0 2rem;
                    span::after {
                        right: 2.5rem;
                        width: 16px;
                    }
                }
            }

            // Adjusting title and sandwich icon for very small screens
            &:not(.expanded){
                height: $topbar-small-height;
                line-height: $topbar-small-height;

                .name {
                    height: $topbar-small-height;
                    line-height: $topbar-small-height;

                    p {
                        line-height: $topbar-small-height;
                    }
                }
            }
        }
    }

    // Medium breakpoint and more behaviors
    @media #{$topbar-media-query} {
        .fixed{
            border-bottom: 10px solid darken($SteelBlue1, 10%);

            .top-bar{
                .title-area{
                    margin: 1rem 0;
                    padding: 0;

                    .name{
                        height: auto;
                        color: $SteelBlue1;
                        text-align: center;

                        .brand-name{
                            font-size: 3rem;
                            line-height: 3.5rem;

                            a{
                                font-size: inherit;
                            }
                        }
                        .brand-subline{
                            font-size: 1rem;
                            line-height: 1.8rem;

                            a{
                                font-size: inherit;
                            }
                        }
                    }
                }
                .top-bar-section{
                    .menu li a{
                        //border-bottom: 1px solid $topbar-bg-color;
                        font-weight: 600;
                        color: $FloralWhite;
                        @media #{$large-only} {
                            padding: 0 1rem;
                            font-size: 0.9rem;
                        }

                        &:hover{
                            //border-bottom: 1px solid $FloralWhite;
                            background-color: $topbar-bg-color;
                        }
                    }
                }
            }
        }

    }
}
